<md-content class="dashboard">
    <section layout="row" flex style="height:100%">
        <md-sidenav class="md-sidenav-left md-whiteframe-z2 mb-side-nav" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-whiteframe-glow-z1 waves-effect waves-light waves-ripple">
                <md-icon md-svg-icon="{{headerIcon}}" style="height:120px;width:120px;margin-top:30px;display:block;" aria-label="Map"></md-icon>
                <h1 class="mb-side-header-label">Map Builder</h1>
            </md-toolbar>
            <md-content class="menu-list">
                <ul>
                    <li class="waves-effect waves-light waves-block" ui-sref=".home">
                        <span>Home</span>
                    </li>
                    <li class="waves-effect waves-light waves-block" ui-sref=".emoji">
                        <span>Emoji</span>
                    </li>
                </ul>
            </md-content>
        </md-sidenav>
        <div layout="column" flex>
            <md-toolbar class="mb-header md-whiteframe-glow-z1">
                <md-button class="md-icon-button toolbar-button" ng-click="toggle('left')" hide-gt-md>
                    <i class="icon ion-navicon" aria-label="Navicon"></i>
                </md-button>
            </md-toolbar>
            <md-content md-scroll-y layout="column" flex>
                <div ui-view="content"></div>
            </md-content>
        </div>
        <div class="fixed-action-btn click-to-toggle" style="botom:45px;right:24px;">
            <a class="btn-floating btn-large red">
                <md-icon md-svg-icon="emoji:emoji-2604" style="height:32px;width:32px;"></md-icon>
            </a>
            <ul>
                <li><a class="btn-floating blue"><md-icon md-svg-icon="emoji:emoji-1f412" style="height:24px;width:24px;"></md-icon></a></li>
                <li><a class="btn-floating orange"><md-icon md-svg-icon="emoji:emoji-1f433" style="height:24px;width:24px;"></md-icon></a></li>
                <li><a class="btn-floating green"><md-icon md-svg-icon="emoji:emoji-1f40e" style="height:24px;width:24px;"></md-icon></a></li>
            </ul>
        </div>
    </section>
</md-content>
