<md-card>
    <md-grid-list
        md-cols="1" md-cols-sm="2" md-cols-md="3" md-cols-gt-md="6"
        md-row-height-gt-md="1:1" md-row-height="4:3"
        md-gutter="8px" md-gutter-gt-sm="4px"
        style="text-align:center;">
        <md-grid-title ng-repeat="emoji in emojis"
            md-rowspan="2"
            md-colspan="2"
            md-colspan-sm="1"
            class="emoji-repeat-area"
            ng-click="changeHeaderIcon(emoji.emoji)">
            <md-tooltip md-direction="top">
                {{emoji.name}}
            </md-tooltip>
            <md-icon md-svg-icon="{{emoji.emoji}}" class="emoji-repeat"></md-icon>
        </md-grid-title>
    </md-grid-list>
</md-card>
